body {
	font-size: 14px;
	color: #525252;
	font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;
	background: #e9eaed;
	margin: 0;
}
.background-white-color{
	background: #ffffff;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}
.no-margin-bottom{
	margin-bottom: 0;
}

.no-margin-top{
	margin-top: 0;
}

.pagination{
	margin-top: 0;
}

.margin-top-xs{
	margin-top:5px;
}

.margin-top-md{
	margin-top:15px;
}

.padding-left-xs{
	padding-left:10px;
}

.target-time{
	float: right;
	font-size: 12px;
	padding-top: 5px;
}

.footer{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 0;
}

.footer-links{
	padding-left: 0;
	margin-top: 20px;
	color: #999;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}

.blog-list-content{
	line-height: 1.5em;
	color: #777;
	font-size: 13px;
}

.index-search{
	padding: 9px 12px 9px 12px;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-danger {
	border-left-color: #d9534f;
	color: #3c3c3c;
}

.content p{
	text-indent:2em
}

.border-radius-xs{
	border-radius: 4px;
}

.no-border-radius{
	border-radius: 0;
}

.main-container{
	min-height: 570px;
}