body {
	font-size: 14px;
	color: #525252;
	font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif !important;
	background: #e9eaed;
	margin: 0;
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto!important;
}
.background-white-color{
	background: #ffffff;
}
.white-color{
	color:#FFFFFF;
}

.no-padding-right{
	padding-right: 0;
}
.no-padding-left{
	padding-left: 0;
}

.no-padding-top{
	padding-top: 0;
}

.no-margin-bottom{
	margin-bottom: 0;
}

.no-margin-top{
	margin-top: 0;
}

.pagination{
	margin-top: 0;
}

.margin-top-xs{
	margin-top:5px;
}

.margin-top-md{
	margin-top:15px;
}

.padding-left-xs{
	padding-left:10px;
}

.padding-right-xs{
	padding-right:10px;
}

a {
	color: #F95344;
	text-decoration: none;
}
a {
	background-color: transparent;
}
.pager .disabled a{
	color:#cccccc !important;
}
.phpdebugbar-active .phpdebugbar-text{
	color:#FFFFFF !important;
}
.bs-callout-danger {
	border-left-color: #d9534f;
	color: #3c3c3c;
}

.content p{
	text-indent:2em
}

.border-radius-xs{
	border-radius: 4px;
}

.no-border-radius{
	border-radius: 0;
}

.no-border{
	border: 0;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 200;
	font-size: 16px;
}
.btn-primary{
	border-color: #FB503B;
	background: 0 0;
	color: #FB503B;
}

/*底部*/
.footer{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	margin-bottom: 0;
}

.footer-links{
	padding-left: 0;
	margin-top: 20px;
	color: #999;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
/*底部结束*/

/*博客详情*/
.blog-list-content{
	line-height: 1.5em;
	color: #777;
	font-size: 13px;
}
.list-group a{
	color: #FB503B;
}
.list-group a:hover{
	color: #FB503B;
}
.list-group a:link{
	color: #FB503B;
}
/*博客详情结束*/

/*首页*/
.index-search{
	padding: 9px 12px 9px 12px;
}
.index-a:hover .list-group-item-heading{
	color:#FB503B;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.target-time{
	float: right;
	font-size: 12px;
	padding-top: 5px;
	color: #3c3c3c;
}
.push-down {
	 margin-bottom: 10px;
 }
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.trick-card {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 270px;
}
.content-box, .trick-card-inner {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	background-color: #fff;
}
.trick-card-title {
	display: block;
	color: #33383A;
	font-size: 20px;
	padding: 20px;
	min-height: 105px;
}
.js-goto-trick:hover{
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
	color: #FB503B;
	text-decoration: none;
}
.js-goto-trick:hover a{
	color: #FB503B;
	text-decoration: none;
}
.js-goto-trick:hover .glyphicon{
	color: #FB503B;
}


.trick-card-by {
	border: none;
	padding-top: 0;
}

.trick-card-stats {
	color: #777;
}
.trick-card-stats, .trick-card-tags {
	width: 100%;
	border-top: #eee 1px solid;
	padding: 10px 20px;
	font-size: 13px;
}

.trick-card-timeago {
	display: block;
	color: #999;
	padding-bottom: 5px;
}

.trick-card-inner .fa {
	font-size: 14px;
	margin-right: 5px;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.trick-card-stat-block {
	height: 20px;
	line-height: 20px;
	float: left;
	width: 33.333%;
}

.trick-card-stat-block {
	height: 20px;
	line-height: 20px;
	float: left;
	width: 33.333%;
}

.text-right {
	text-align: right;
}

a.tag {
	float: left;
	display: block;
	border: 1px solid #FB503B;
	color: #FB503B;
	padding: 1px 5px;
}

a.tag+a.tag {
	margin-left: 5px;
}
.msg-alert .alert{
	margin: 5px 15px;
}

/*首页结束*/

/*头部*/
#top a{
	color: #FB503B;
}

/*头部结束*/
/*登录*/
.panel-body{
	margin: auto;
	width: 400px;
	min-height: 500px;
}

.mz-btn{
	margin: auto;
	border-radius: 0;
	border: 1px solid #FB503B;
	color: #FB503B;
	font-size: 16px;
}
.mz-btn:hover{
	background: #FB503B;
	color: #FFFFFF;
	border: 1px solid #FB503B;
}

.login-form .mz-btn,.register-form .mz-btn{
	width: 370px;
	height: 45px;
}

.login-form .form-control, .register-form .form-control {
	font-size: 16px;
	box-shadow: none;
	border-radius: 0;
	height: 40px;
}



h1.page-title {
	color: #FB503B;
	font-weight: 300;
	font-size: 32px;
	margin: 0 0 10px;
	text-align: left;
}

/*登录结束*/

/*文章页挂件 开始*/
.content-box {
	padding:0;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	background-color: #fff;
}
/* 文章页挂件结束*/

/* 发布（修改）页面开始 */
.article-btn{
	margin-bottom: 15px;
}